.header-container{
    width:100%;
    height: 2%;
    /* background-color:rgba(0, 0,0 , 0.3); */
    background-color: #7b1fa2;
    color:white;
    display: inline-flex;
    align-items: center;
    justify-content:left;
    position:sticky;
    top:0;
}
.header-container>img{
   width:90px;
   height: auto;

}
.header-container>p{
   font-size: 1.2em;
}
.website__title{
    font-size: 20px;
}
